<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FMS.Business.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FMS.Business.My.MySettings.FMSConnectionString" connectionString="Data Source=WINDOWS-VULTR;Initial Catalog=FMSUAT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FMS.Business.My.MySettings.aspnetdbConnectionString"
            connectionString="Data Source=windows-vultr;Initial Catalog=aspnetdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FMS.Business.My.MySettings.FMSConnectionString1" connectionString="Data Source=localhost;Initial Catalog=FMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FMS.Business.My.MySettings.FMSDevConnectionString"
            connectionString="Data Source=WINDOWS-VULTR;Initial Catalog=FMSUAT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FMS.Business.My.MySettings.FMSUATConnectionString"
            connectionString="Data Source=WINDOWS-VULTR;Initial Catalog=FMSUAT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <FMS.Business.My.MySettings>
            <setting name="EmailMessage" serializeAs="String">
                <value>Dear {0}

Driver "{1}" entered location "{2}" at {3}. They have been there for {4} minutes and have not yet left.

This is an automated alert 

{5}.nanosoft.com.au</value>
            </setting>
            <setting name="DefaultTruckImageName" serializeAs="String">
                <value>Default Truck</value>
            </setting>
            <setting name="DefaultHomeImageName" serializeAs="String">
                <value>Default Home</value>
            </setting>
            <setting name="BookingLeaveDistance_metres" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="BookingArriveDistance_metres" serializeAs="String">
                <value>2000</value>
            </setting>
        </FMS.Business.My.MySettings>
    </applicationSettings>
</configuration>
