body {
}
.div_dashboard {
    
    width: 700px;
}

.imgDash {
    max-height: 100%;
    max-width: 100%;

}

.imgmax {
    max-height: 100%;
    max-width: 100%;
}

.div_vwlivedta {
    width: 100px;
    font-style:normal;
    color: blue;
    top: 145px;
    left: 480px;
    position:absolute;
    cursor: pointer;
}

.div_break {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 23px;
    left: 23px;
}

.div_steer {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 25px;
    left: 70px;
}

.div_drive {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 24px;
    left: 108px;
}

.div_ifm {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 24px;
    left: 146px;
}

.div_can {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 23px;
    left: 185px;
}

.div_align {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 23px;
    left: 227px;
}

.div_warning {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 69px;
    left: 58px;
}

.div_stop {
    width: 65px;
    height: 65px;
    position: absolute;
    top: 69px;
    left: 119px;
}

.div_speed {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 69px;
    left: 200px;
}

.div_battery {
    width: 125px;
    height: 125px;
    position: absolute;
    top: 26px;
    left: 288px;
}

.pnlimgHide {
    display:none;
}

.div_LCD {
    width: 172px;
    height: 88px;
    background-color: white;
    position: absolute;
    overflow: hidden;
    top: 29px;
    left: 443px;

}
.div_LCD img {
 font-size: 3em;
 color: limegreen;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}