body {
}
.div_dashboard {
    
    width: 700px;
   
}
.imgmax {
    max-height: 100%;
    max-width: 100%;
}

.div_break {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 23px;
    left: 23px;
}

.div_steer {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 25px;
    left: 70px;
}

.div_drive {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 24px;
    left: 108px;
}

.div_ifm {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 24px;
    left: 146px;
}

.div_can {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 23px;
    left: 185px;
}

.div_align {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 23px;
    left: 227px;
}

.div_warning {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 69px;
    left: 58px;
}

.div_stop {
    width: 65px;
    height: 65px;
    position: absolute;
    top: 69px;
    left: 119px;
}

.div_speed {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 69px;
    left: 200px;
}

.div_battery {
    width: 125px;
    height: 125px;
    position: absolute;
    top: 26px;
    left: 288px;
}

.pnlimgHide {
    display:none;
}