body {
}
.div_dashboard {
    width: 650px;
    height: 200px;
    background-image: url('../Content/Images/Dashboard/Display-Grey_blank_withTail.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; 
}

.imgDash {
    max-height: 100%;
    max-width: 100%;

}

.imgmax {
    max-height: 100%;
    max-width: 100%;
}

.div_vwLiveData {
    width: 150px;
    font-style: normal;
    font-size: 11px;
    font-weight: bold;
    color: blue;
    top: 113px;
    left: 418px;
    position:absolute;
    cursor: pointer;
    /*Position:static;*/
    /*z-index: 1000000;*/
 
}

/*Panel*/
.div_break {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 34px;
    left: 50px;
}

.div_steer {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 34px;
    left: 86px;
}

.div_drive {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 34px;
    left: 120px;
}

.div_ifm {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 34px;
    left: 152px;
}

.div_can {
    width: 33px;
    height: 33px;
    position: absolute;
    top: 37px;
    left: 181px;
}

.div_align {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 33px;
    left: 220px;
}

.div_warning {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 67px;
    left: 65px;
}

.div_stop {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 73px;
    left: 117px;
}

.div_speed {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 71px;
    left: 186px;
}

/*Battery*/
.div_battery {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30px;
    left: 280px;
}

.pnlimgHide {
    display:none;
}
/*Buttons*/
.div_plus {
    width: 41px;
    height: 41px;
    position: absolute;
    top: 107px;
    left: 37px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Plus_Button_Normal.png');
    background-repeat: no-repeat;
}

.div_plus_blink {
    width: 41px;
    height: 41px;
    position: absolute;
    top: 107px;
    left: 37px;
    background-image: url('../Content/Images/Dashboard/Plus_Button_Hover.png');
    position: absolute;
    background-repeat: no-repeat;
    background-size:100%;
}

#iPlus:hover {
    width: 41px;
    height: 41px;
    position: absolute;
    top: 107px;
    left: 37px;
    background-image: url('../Content/Images/Dashboard/Plus_Button_Hover.png');
    position: absolute;
    background-repeat: no-repeat;
    background-size:100%;
}

#iPlus:active {
    width: 41px;
    height: 41px;
    position: absolute;
    top: 107px;
    left: 37px;
    background-image: url('../Content/Images/Dashboard/Plus_Button_press.png');
    position: absolute;
    background-repeat: no-repeat;
    background-size:100%;
}

.div_minus {
    width: 41px;
    height: 41px;
    top: 107px;
    left: 96px;
    position: absolute; 
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Minus_Button_Normal.png');
    background-repeat: no-repeat;
}

.div_minus_blink {
    width: 41px;
    height: 41px;
    top: 107px;
    left: 96px;
    position: absolute;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Minus_Button_hover.png');
    background-repeat: no-repeat;
}

.div_minus:hover {
    width: 41px;
    height: 41px;
    top: 107px;
    left: 96px;
    position: absolute;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Minus_Button_hover.png');
    background-repeat: no-repeat;
}

.div_minus:active {
    width: 41px;
    height: 41px;
    top: 107px;
    left: 96px;
    position: absolute;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Minus_Button_press.png');
    background-repeat: no-repeat;
}

.div_ex {
    width: 41px;
    height: 41px;
    position: absolute;
    top: 107px;
    left: 156px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Ex_Button_Normal.png');
    background-repeat: no-repeat;
}

.div_ex_blink {
    width: 41px;
    height: 41px;
    position: absolute;
    top: 107px;
    left: 156px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Ex_Button_hover.png');
    background-repeat: no-repeat;
}

.div_ex:hover {
    width: 41px;
    height: 41px;
    position: absolute;
    top: 107px;
    left: 156px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Ex_Button_hover.png');
    background-repeat: no-repeat;
}

.div_ex:active {
    width: 41px;
    height: 41px;
    position: absolute;
    top: 107px;
    left: 156px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Ex_Button_press.png');
    background-repeat: no-repeat;
}

.div_tick {
    width: 41px;
    height: 41px;
    position: absolute;
    top: 107px;
    left: 213px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Tick_Normal.png');
    background-repeat: no-repeat;
}

.div_tick_blink {
    width: 41px;
    height: 41px;
    position: absolute;
    top: 107px;
    left: 213px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Tick_Hover.png');
    background-repeat: no-repeat;
}

.div_tick:hover {
    width: 41px;
    height: 41px;
    position: absolute;
    top: 107px;
    left: 213px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Tick_Hover.png');
    background-repeat: no-repeat;
}

.div_tick:active {
    width: 41px;
    height: 41px;
    position: absolute;
    top: 107px;
    left: 213px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Tick_press.png');
    background-repeat: no-repeat;
}

.div_bottomlogo {
    width: 131px;
    height: 50px;
    position: absolute;
    top: 133px;
    left: 499px;
}

/*LCD*/
.imgLCD {
    max-height: 60px;
    max-width: 280px;

}

.div_LCD {
    width: 161px;
    height: 65px;
    background-color: none;
    position: absolute;
    overflow: hidden;
    top: 40px;
    left: 405px;

}

.div_LCD img {
 font-size: 3em;
 color: limegreen;
 position: absolute;
 width: 280px;
 height: 60px;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
  -moz-animation: example1 4.5s linear;
 -webkit-animation: example1 4.5s linear;
 animation: example1 4.5s linear;

 /* Apply animation to this element */	
 /*-moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;*/

}
/* Move it (define the animation) */
/* For LCD Text and Logo Scroll*/
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}

/*LCD Indicators*/
.div_LCDCont {
    background-color: white;
    position: absolute;
    top: 33px;
    left: 405px;
    width: 163px;
    height: 73px;
    
}
.div_LCDTitle {
    background-color: black;
    /*position: absolute;
    top: 33px;*/
    top: 2px;
    left: 405px;
    width: 163px;
    height: 15px;
    font-family: 'Courier New';
    color: white;
}
.div_LCDLine {
    background-color: transparent;
    /*position: absolute;
    top: 33px;*/
    top: 17px;
    left: 405px;
    width: 163px;
    height: 15px;
    font-family: 'Courier New';
    color: black;
}
.LCDCont_Hide {
    display:none;
}