body {
}
.div_dashboard {
    width: 580px;
    height: 200px;
    background-image: url('../Content/Images/Dashboard/Display-Grey_blank.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; 
}

.imgDash {
    max-height: 100%;
    max-width: 100%;

}

.imgmax {
    max-height: 100%;
    max-width: 100%;
}

.div_vwlivedta {
    width: 100px;
    font-style:normal;
    color: blue;
    top: 145px;
    left: 480px;
    position:absolute;
    cursor: pointer;
}

/*Panel*/
.div_break {
    width: 23px;
    height: 23px;
    position: absolute;
    top: 49px;
    left: 44px;
}

.div_steer {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 49px;
    left: 77px;
}

.div_drive {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 49px;
    left: 107px;
}

.div_ifm {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 50px;
    left: 136px;
}

.div_can {
    width: 29px;
    height: 29px;
    position: absolute;
    top: 50px;
    left: 162px;
}

.div_align {
    width: 19px;
    height: 19px;
    position: absolute;
    top: 49px;
    left: 197px;
}

.div_warning {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 81px;
    left: 57px;
}

.div_stop {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 86px;
    left: 102px;
}

.div_speed {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 85px;
    left: 166px;
}

/*Battery*/
.div_battery {
    width: 85px;
    height: 85px;
    position: absolute;
    top: 47px;
    left: 251px;
}

.pnlimgHide {
    display:none;
}
/*Buttons*/
.div_plus {
    width: 39px;
    height: 39px;
    position: absolute;
    top: 119px;
    left: 33px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Plus_Button_Normal.png');
    background-repeat: no-repeat;
}

.div_plus_blink {
    width: 39px;
    height: 39px;
    background-image: url('../Content/Images/Dashboard/Plus_Button_Hover.png');
    position: absolute;
    background-repeat: no-repeat;
    top: 119px;
    left: 33px;
    background-size:100%;
}

#iPlus:hover {
    width: 39px;
    height: 39px;
    background-image: url('../Content/Images/Dashboard/Plus_Button_Hover.png');
    position: absolute;
    background-repeat: no-repeat;
    top: 119px;
    left: 33px;
    background-size:100%;
}

#iPlus:active {
    width: 39px;
    height: 39px;
    background-image: url('../Content/Images/Dashboard/Plus_Button_press.png');
    position: absolute;
    background-repeat: no-repeat;
    top: 119px;
    left: 33px;
    background-size:100%;
}

.div_minus {
    width: 39px;
    height: 39px;
    position: absolute;
    top: 119px;
    left: 85px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Minus_Button_Normal.png');
    background-repeat: no-repeat;
}

.div_minus_blink {
    width: 39px;
    height: 39px;
    position: absolute;
    top: 119px;
    left: 85px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Minus_Button_hover.png');
    background-repeat: no-repeat;
}

.div_minus:hover {
    width: 39px;
    height: 39px;
    position: absolute;
    top: 119px;
    left: 85px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Minus_Button_hover.png');
    background-repeat: no-repeat;
}

.div_minus:active {
    width: 39px;
    height: 39px;
    position: absolute;
    top: 119px;
    left: 85px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Minus_Button_press.png');
    background-repeat: no-repeat;
}

.div_ex {
    width: 39px;
    height: 39px;
    position: absolute;
    top: 119px;
    left: 138px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Ex_Button_Normal.png');
    background-repeat: no-repeat;
}

.div_ex_blink {
    width: 39px;
    height: 39px;
    position: absolute;
    top: 119px;
    left: 138px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Ex_Button_hover.png');
    background-repeat: no-repeat;
}

.div_ex:hover {
    width: 39px;
    height: 39px;
    position: absolute;
    top: 119px;
    left: 138px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Ex_Button_hover.png');
    background-repeat: no-repeat;
}

.div_ex:active {
    width: 39px;
    height: 39px;
    position: absolute;
    top: 119px;
    left: 138px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Ex_Button_press.png');
    background-repeat: no-repeat;
}

.div_tick {
    width: 39px;
    height: 39px;
    position: absolute;
    top: 119px;
    left: 189px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Tick_Normal.png');
    background-repeat: no-repeat;
}

.div_tick_blink {
    width: 39px;
    height: 39px;
    position: absolute;
    top: 119px;
    left: 189px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Tick_Hover.png');
    background-repeat: no-repeat;
}

.div_tick:hover {
    width: 39px;
    height: 39px;
    position: absolute;
    top: 119px;
    left: 189px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Tick_Hover.png');
    background-repeat: no-repeat;
}

.div_tick:active {
    width: 39px;
    height: 39px;
    position: absolute;
    top: 119px;
    left: 189px;
    background-size:100%;
    background-image: url('../Content/Images/Dashboard/Tick_press.png');
    background-repeat: no-repeat;
}

.div_bottomlogo {
    width: 115px;
    height: 50px;
    position: absolute;
    top: 146px;
    left: 448px;
}



/*LCD*/
.div_LCD {
    width: 145px;
    height: 30px;
    background-color: none;
    position: absolute;
    overflow: hidden;
    top: 68px;
    left: 361px;

}
.div_LCD img {
 font-size: 3em;
 color: limegreen;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 /*-moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;*/
 -moz-animation: example1 4.5s linear;
 -webkit-animation: example1 4.5s linear;
 animation: example1 4.5s linear;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}